<div class="menu-bar__content">
    <div class="menu-navegation">
        <div class="menu-image">
            <a href=""><img src="/assets/icon-menu.png" alt="" width="50rem"></a>
        </div>
        <div class="menu-titles">
            <span>Angular</span>
            <span>TypeScript</span>
            <span>CSS</span>
            <span>HTML</span>
        </div>
    </div>
    <div class="menu-links">
        <div class="icon"><img src="/assets/pngaaa.com-2973733.png" alt="" width="22rem"></div>
        <div class="icon"><img src="/assets/pngaaa.com-77117.png" alt="" width="22rem"></div>
        <div class="icon"><img src="/assets/pngaaa.com-555912.png" alt="" width="19rem"></div>
        
    </div>
</div>
