<hr>
<div class="notice-content">
    <div class="notice-title">
        <h1>{{noticeTitle}}</h1>
    </div>
    <div class="notice-date">   
        <span>{{noticeDate}}</span>
    </div>
    <div class="notice-image">
        <img src="{{noticeImage}}" alt="" width="700px">
    </div>
    <div class="notice-text">
       <p>{{noticeText1}}</p>
       <br><br>
       <p>{{noticeText2}}</p>
       <br><br>
       <p>{{noticeText3}}</p>
    </div>
    <div class="back-home">
        <a [routerLink]="['']"> <--- Voltar </a>
    </div>
</div>
